.content {
    padding: 8rem 0;
}

.login-register-box {
    margin: 0 auto;
    overflow-x: hidden;
    text-align: center;
    width: 250px;
}

h1{
    margin-bottom: 1.5em;
}
.login-register-box h1 {
    color: var(--primary_color);
}

.input-wrapper input + label span {
    color: var(--primary_color);
}

.input-wrapper{
    margin-bottom: 3em;
}

.input-wrapper input{
    width: 100%;
}

.btn_submit_login{
    margin-top: 1.5em;
}

