/* The container must be positioned relative: */
.select_id_customer {
    width: 50%;
    font-family: Arial;
}
/* .select_id_customer {

} */

.select_id_service{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.select_container{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

/* .select_id_service{

} */

.jenis_pengiriman_radio{
    margin-bottom: 2em;
}

.jenis_pekerjaan_radio{
    margin-bottom: 2em;
}

